body, html{
  margin: 0px;
  padding: 0px;
  font-family: Verdana;
  font-size: 10px;
  min-height: 100vh;
}

.wrapper {
  margin: 0 auto;
  max-width: 1024px;
  text-align: center;
  border: 1px solid #333;
  /*display: flex;
  flex-flow: row wrap; {cogigo utilizado para un footer siempre abajo con flex-box} */
}

header {
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  background: #333;
  padding: 1rem;
  color: #FFF;
}

.section-title {
  display: flex;
}

h1 {
  margin: auto 1rem;
  padding: 0px;
}

/* +++++++++++++++++ navegacion de la pagina +++++++++++++++ */

.icon-user {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #FFF;
}

nav {
  align-self: center;
}

.navegacion {
  list-style-type: none;
  display: flex;
  margin: 0px;
  padding: 0px;
  font-size: 1.5rem;
}

li {
  flex: auto;
}

.navegacion li a{
  text-decoration: none;
  color: #333;
  margin-right: .7em;
  padding: .7em 1.2em;
  border: 1px solid #FFF;
  border-radius: 20px;
  background: #999;
}

.navegacion li a:hover {
  color: #FFF;
  background: rgba(153, 153, 153, 0.5);
}

/* +++++++++++++++++++++++++++++++++++++++++ */

.flex-content{
  border: 2px solid #333;
  display: flex;  /* valores: flex/inline-flex */
  flex-direction: row;  /* direccion que tomaran los container */
  flex-wrap: wrap; /* poner contenido valores: wrap-reverse/wrap/nowrap */ 
  justify-content: center; /* centrar contenido en el main axis valores:  flex-end/flex-start/center/space-between/
  space-around */  
  padding: 1.5rem;
  margin: 1rem;
}

[class^="cara"] {
  background: #333;
  padding: 2rem;
  margin: 1rem;
  display: flex;
  flex-basis: 200px; /* define el main-size correspondiente al main-axis valores: 
  auto/0/medida */
  flex-grow: 0; /* indica como va a crecer un elemento respecto a su flex-basis */
  flex-shrink: 1; /* indica como se va a adaptar el espacio, contrayendose, al ser el flex item 
  mas grande que el flex content */
  /* flex: 0 1 200px; shorthand de flex que corresponde  los valores: flex: grow shrink*/
  height: 200px;
  border-radius: 10px;
}

.punto{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #EEE;
}


/* ++++++++++++++++++++++++++++++++++++++++++ */

.cara-1 {
  justify-content: center; 
  align-items: center; /* permite alinear los flex items segun su cross axis cuando estan en nowrap valores:
  center/flex-start/flex-end/strech/baseline */
}

/* ++++++++++++++++++++++++++++++++++++++++++ */



/* ++++++++++++++++++++++++++++++++++++++++++ */

.cara-2 {
  justify-content: space-between; 
}

.cara-2 .punto:nth-child(2) {
  align-self: flex-end; /* permite alterar el flujo de un flex item en particular  valores:
  center/flex-start/flex-end/strech/baseline */
}

/* ++++++++++++++++++++++++++++++++++++++++++ */



/* ++++++++++++++++++++++++++++++++++++++++++ */

.cara-3 {
  justify-content: space-between;
}

.cara-3 .punto:nth-child(2) {
  align-self: center;
}

.cara-3 .punto:nth-child(3) {
  align-self: flex-end;
}

/* +++++++++++++++++++++++++++++++++++++++++ */



/* +++++++++++++++++++++++++++++++++++++++++ */

.cara-4 {
  justify-content: space-between;
}

.cara-4 .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}



/* +++++++++++++++++++++++++++++++++++++++++ */



/* +++++++++++++++++++++++++++++++++++++++++ */

.cara-5 {
  justify-content: space-between;
}

.cara-5 .punto{
  align-self: center;
}

.cara-5 .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* +++++++++++++++++++++++++++++++++++++++++ */



/* +++++++++++++++++++++++++++++++++++++++++ */

.cara-6 {
  justify-content: space-between;
}

.cara-6 .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

/* +++++++++++++++++++++++++++++++++++++++++ */



/* +++++++++++++++++++++++++++++++++++++++++ */

.porcent-section {
  padding: 0px;
  flex-flow: row nowrap;  /* es un shorthan sus valores son: flex-flow: direction wrap; */
}

.part-one, .part-two {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 700;
  color: #FFF;
}

/* align-content: center; permite controlar el cross axis cuando se utiliza wrap 
  valores: center/flex-start/flex-end/space-between/space-around/baseline */

  /* order: -1; permite darle un orden a los flex-items, teniendo en cuenta que por defecto 
    los items tienen un order de 0 y su prioridad dependen del flujo en el html. valor: entero; */

.part-one {
  flex: 0 1 24%;
  background: #777;
  margin-right: 1rem;
}

.part-two {
  flex: 0 1 75%;
  background: #555;
}

/* +++++++++++++++++++++++++++++++++++++++++ */



/* +++++++++++++++++++++++++++++++++++++++++ */

.image-effect {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 660px;
  height: 441px;
  background: url("../Images/tigre.jpg");
  box-shadow: 0 0 0 5px #FFF,
              0 0 0 10px #CCC,
              0 20px 20px -12px #000;
  overflow: hidden; /* oculta los elementos que tienen desbordamientos */
}

.image-effect:hover .text-transition {
  top: 0;
}

.text-transition {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  margin: 0px;
  padding: 1.5em;
  height: 100%;
  font-family: "New Times Roman";
  font-size: 2rem;
  color: #FFF;
  box-sizing: border-box;
  position: relative;
  top: 100%;
  transition: all .3s;
}

/* ++++++++++++++++++++++++++++++++++++++++++ */



/* ++++++++++++++++++++++++++++++++++++++++++ */

.responsive-effect {
  flex-flow: row nowrap;
}

.section-aside, .main-section {
  display: flex;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  width: 50%;
  height: 500px;
  text-align: left;
}

.section-aside {
  background: #333;
  color: #CCC;
  justify-content: flex-end;
}

.main-section {
  background: #CCC;
  color: #333;
}

@media screen and (max-width: 600px) {
  .responsive-effect {
    flex-flow: column nowrap;
  }

  .section-aside, .main-section {
    width: 100%;
    justify-content: center;
  }

  .section-aside {
    align-items: flex-end;
  }

  .main-section {
    align-items: flex-start;
  }
}

/* +++++++++++++++++++++++++++++++++++++++++ */



/* +++++++++++++++++++++++++++++++++++++++++ */

.section-footer {
  /*align-self: flex-end; {cogigo utilizado para un footer siempre abajo con flex-box} */
  background: #000011;
  font-size: 2rem;
  color: #FFF;
}

/* +++++++++++++++++++++++++++++++++++++++++ */

























